Bootstrap_Flask==2.2.0
Requests==2.31.0
WTForms==3.0.1
Flask_WTF==1.2.1
Werkzeug==3.0.0
Flask==2.3.2
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.25
mysqlclient==2.2.6
python-dotenv==1.0.0
flask-bcrypt==1.0.1
Flask-Login==0.6.3
email-validator==2.2.0
pyotp==2.9.0
pytest==7.4.0